<div id="project-3" class="col-lg-4 col-sm-6 project">
  <a href="https://github.com/auranbuckles/world-recipes" target="_blank" class="portfolio-box">
      <img src="img/portfolio/world-recipes.png" class="img-responsive project-img" alt="">
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
              <div class="project-name">
                  World Recipes
              </div>
          </div>
      </div>
  </a>
  <div class="project-description">
    <p><a href="https://github.com/auranbuckles/world-recipes" target="_blank">World Recipes</a> is a Rails-Angular app that houses recipes from around the world and allows users to create and star recipes.</p>
  </div>
</div>
<div id="project-4" class="col-lg-4 col-sm-6 project">
  <a href="https://www.sockchain.com/" target="_blank" class="portfolio-box">
      <img src="img/portfolio/sockchain.png" class="img-responsive project-img" alt="Sockchain">
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
              <div class="project-name">
                  Sockchain
                  <span>coming soon!</span>
              </div>
          </div>
      </div>
  </a>
  <div class="project-description">
    <p><a href="https://www.sockchain.com/" target="_blank">Sockchain</a> is a platfom built on Rails and React that assesses the profitability of your cryptocurrency investments via fee schedules and the Cryptocompare API.</p>
  </div>
</div>
<div id="project-5" class="col-lg-4 col-sm-6 project">
  <a href="/" target="_blank" class="portfolio-box">
      <img src="img/portfolio/equalopen.png" class="img-responsive project-img" alt="Oovart's Planet Shop Project">
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
              <div class="project-name">
                  EqualOpen
                  <span>coming soon!</span>
              </div>
          </div>
      </div>
  </a>
  <div class="project-description">
    <p><a href="/" target="_blank">EqualOpen</a> is a simple tool built on NodeJS that evaluates your site’s accessibility and estimates its level of compliance based on WCAG standards.</p>
  </div>
</div>
<div id="project-6" class="col-lg-4 col-sm-6 project">
  <a href="https://github.com/auranbuckles/tokyo-events-cli-gem" target="_blank" class="portfolio-box">
      <img src="img/portfolio/tokyo-events.png" class="img-responsive project-img" alt="">
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
              <div class="project-name">
                  Tokyo Events
              </div>
          </div>
      </div>
  </a>
  <div class="project-description">
    <p><a href="https://github.com/auranbuckles/tokyo-events-cli-gem" target="_blank">Tokyo Events</a> is a CLI Ruby gem that scrapes web data and returns information on current and upcoming events in Tokyo.</p>
  </div>
</div>
