<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bridging the gap between technology and the business of law.</h2>
                <hr class="light">
                <p class="text-faded">Hi, I’m Auran, a full-stack web developer and aspiring lawyer. I discovered my passion for coding during my first year summer internships at two laws firms, where I found myself often trying to come up with ideas on how I would use technology to improve on a lot of repetitive tasks I encountered there. This experience really motivated me to want to make changes through technology. I started learning code through some free online courses, and after realizing how much I enjoyed it, I decided to take it further and enrolled in coding school last summer. So now, here I am, a dev who’s looking to marry my legal background and technical skills in a way that can solve business problems from a legal perspective and make the law an easier way of life for people.</p>
            </div>
        </div>
    </div>
</section>
