<section id="about">
  <div class="container-fluid">
    <div class="about-container">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="image-container container-left">
            <img id="profile" src="img/about/profile.jpg" alt="profile picture">
          </div>
        </div>
        <div class="col-md-8 col-xs-12 text-center">
          <div class="container-right">
            <h2 class="section-heading">Hi, I'm Auran.</h2>
            <p class="text-faded">Software Engineer.&nbsp&nbspLicensed Attorney in California.&nbsp&nbspQuantum fangirl.</p>
            <p class="text-faded">During my pursuit of a legal career, I discovered my passion for software programming. From then I began my journey as a full-stack developer, focusing on delivering robust codebases that streamline business processes and bring value to the end user. Currently, I work at <a href="https://www.carerev.com/" target="_blank">CareRev</a> and am actively involved in <a class="page-scroll" href="#portfolio">several projects</a> on the side.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
