<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img src="img/about/profile.jpg" alt="profile picture">
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">Bridging the gap between technology and the business of law.</h2>
        <hr class="light">
        <p class="text-faded">Hi, I’m Auran, a full-stack web developer and aspiring lawyer. Starting off as an economics major then law student, I ended up falling in love with coding. After witnessing <a href="">the astounding gap between legal operations and technology</a> in an era where tech is all the rage, I dove into the world of coding and discovered my passion. This motivated me to want to explore opportunities for innovation and improvement in the legal and business industries through technology, and solve business problems from a legal perspective, m the law an easier way of life for people.</p>
      </div>
    </div>
  </div>
</section>
