<header id="header" class="bg-dark">
  <div class="header-content">
		<div id="title-container" class="header-content-inner col-md-6">
			<p class="comment">/* Hello */</p>
			<p><span class="grass">#SoftwareEngineer</span> <span class="grass">#FullStackDeveloper</span> <span class="grass">#SystemsEngineer</span> <span class="grass">#DatabaseArchitect</span> <span class="orchid">name</span> <span class="offwhite">{</span></p>
	    <h1 class="water">Auran Buckles</h1>
	    <p class="offwhite">}</p>
      <br>
      <div class="white-icons">
        {% include social_media.html %}
      </div>
		</div>
		<div id="balloon-clouds" class="col-md-6">
			<img class="cloud2" src="img/header/cloud-2.png" class="img-responsive" alt="">
			<img class="cloud1" src="img/header/cloud-1.png" class="img-responsive" alt="">
			<img id="balloon" src="img/header/balloon.png" class="img-responsive" alt="">
			<!-- <img id="scroll-image" src="img/header/scroll.png" class="img-responsive" alt=""> -->
		</div>
    <!-- <a href="#about" class="page-scroll">
    	<p class="fa fa-4x fa-angle-double-down arrow-down wow bounceIn text-center page-scroll" href="#portfolio"></p>
    </a> -->
  </div>
  <div class="white-icons mobile-only">
    {% include social_media.html %}
  </div>
</header>
