<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading text-center">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="portfolio-container">
          <div id="depicto" class="project">
            <div class="portfolio-box">
              <img src="img/portfolio/depicto-bg.png" class="img-responsive project-img" alt="Blank canvas">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <img src="img/portfolio/depicto-sign.png" class="project-logo" alt="coming soon">
                  </div>
                </div>
              </div>
            </div>
            <div class="project-description">
              <p><b>Stealth Mode Startup</b></p>
              <p>Building a new orchestration layer for design automation with my partner. It solves the 'last mile' of design automation with new AI/ML techniques... making sure dynamic assets always look <b>good</b> when hyper-personalized at scale. Augments generative AI to do things impossible with just chat inputs.</p>
            </div>
          </div>
          <div id="henro" class="project">
            <div>
              <div class="portfolio-box">
                <a href="https://www.henro.org/" target="_blank">
                    <img src="img/portfolio/henro.jpg" class="img-responsive project-img" alt="Henro.org screenshot" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <img src="img/portfolio/henro-logo.png" class="project-logo" alt="">
                            </div>
                        </div>
                    </div>
                </a>
              </div>
              <div class="featured-media-box">
                <img src="img/portfolio/nhk-logo.jpg" class="project-featured" alt="NHK logo" />
                <img src="img/portfolio/smithsonian-magazine-logo.jpeg" class="project-featured" alt="Smithsonian Magazine logo" />
                <img src="img/portfolio/thrillist-logo.png" class="project-featured" alt="Thrillist logo" />
                <img src="img/portfolio/commonwealth-logo.png" class="project-featured" alt="Commonwealth Magazine logo" />
              </div>
            </div>
            <div class="project-description">
              <p><a href="https://www.henro.org/" target="_blank"><b>Henro.org</b></a></p>
              <p>A React/Next.js application that hosts interactive maps, guides, reviews, calculators, and pilgrim tools for pilgrimages around the world. I wrote my own mapping algorithms (elevations & distance calculations with route visualizations) + tiling optimizations with MapTiler/OSM.</p>
              <p>The project has been featured in NHK, The Smithsonian Magazine, Thrillist, USA Today, AOL News, Commonwealth Magazine, and the Tim Ferriss Podcast. I was honored as a World Trails Ambassador of the World Trails Network in 2022 and lead the Technology Task Team from 2023-2025.</p>
            </div>
          </div>
          <div id="charityblend" class="project">
            <div class="portfolio-box">
              <img src="img/portfolio/charityblend.png" class="img-responsive project-img" alt="CharityBlend screenshot">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <img src="img/portfolio/charityblend-logo.png" class="project-logo" alt="CharityBlend logo">
                  </div>
                </div>
              </div>
            </div>
            <div class="project-description">
              <p>
                <a href="https://www.charityblend.com/" target="_blank"><b>CharityBlend</b></a> (inactive) was a Rails & Javascript/jQuery-based app for nonprofits to quickly stage fundraiser landing pages. Ruby/Rails on a multitenant postgres backend, leveraged the Stripe API and nifty data layer configs for analytics.
              </p>
            </div>
          </div>
          <!-- <div id="project-3" class="project">
            <a href="https://github.com/auranbuckles/world-recipes" target="_blank" class="portfolio-box">
                <img src="img/portfolio/world-recipes.png" class="img-responsive project-img" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Sight
                            <span>coming soon!</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="project-description">
              <p><a href="" target="_blank">Sight</a> is a Rails-Angular app that houses recipes from around the world and allows users to create and star recipes.</p>
            </div>
          </div> -->
        </div>
    </div>
</section>
