<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading text-center">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="portfolio-container">
          <div id="project-1" class="project">
            <a href="https://www.jpilgrim.com/" target="_blank" class="portfolio-box">
                <img src="img/portfolio/jpilgrim.png" class="img-responsive project-img" alt="JPilgrim screenshot">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            <img src="img/portfolio/jpilgrim-logo.png" class="project-logo" alt="">
                        </div>
                    </div>
                </div>
            </a>
            <div class="project-description">
              <p><a href="https://www.jpilgrim.com/" target="_blank">JPilgrim</a> is a Rails-React app that provides crowd-sourced resources and helpful guides to those walking or interested in learning about the Shikoku Pilgrimage in Japan.</p>
            </div>
          </div>
          <div id="project-2" class="project">
            <div class="project-description">
              <p><a href="https://www.charityblend.com/" target="_blank">CharityBlend</a> is a Rails app for nonprofits to manage facets of their business and charitable operations with ease using the Stripe API and data analytics tools.</p>
            </div>
            <a href="https://www.charityblend.com/" target="_blank" class="portfolio-box">
              <img src="img/portfolio/charityblend.png" class="img-responsive project-img" alt="CharityBlend screenshot">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <img src="img/portfolio/charityblend-logo.png" class="project-logo" alt="CharityBlend logo">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- <div id="project-3" class="project">
            <a href="https://github.com/auranbuckles/world-recipes" target="_blank" class="portfolio-box">
                <img src="img/portfolio/world-recipes.png" class="img-responsive project-img" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Sight
                            <span>coming soon!</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="project-description">
              <p><a href="" target="_blank">Sight</a> is a Rails-Angular app that houses recipes from around the world and allows users to create and star recipes.</p>
            </div>
          </div> -->
        </div>
    </div>
</section>
