<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!--CDN link for  TweenMax-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

<!-- ScrollMagic -->
<script src="js/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="js/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
<!-- <script src="js/main.js"></script> -->
