<section id="skills">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="section-heading text-center">Tech Stack</h2>
            <hr class="primary">
        </div>
    </div>
</div>
  <div class="container-fluid">
    <div class="skills-container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Languages & Frameworks:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Ruby/Rails, JavaScript, Python</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Frontend & UI:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">React, TypeScript, Nextjs, Node, Express, jQuery, HTML/CSS</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Databases & Data Streaming:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">PostgreSQL, MySQL, ActiveRecord, Redis, Kafka, Debezium</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Cloud & Infrastructure:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">AWS (S3, Lambda), Docker, Heroku, Salesforce</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Languages:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="no-margin skills-description">Fluent in Cantonese and Mandarin, including written Chinese</p>
          <p class="no-margin skills-description">Proficient in Japanese</p>
          <p class="skills-description">Beginner in German and Irish</p>
        </div>
      </div>
    </div>
  </div>
</section>
