<section id="skills">
<!--   <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 skills-box">
        <div class="legal-box">
          <h3>Legal Research & Analysis</h3>
          <p class="text-muted">Graduated from Fordham Law in Feb 2017; worked at both boutique and international firms in the areas of privacy, compliance, and intellectual property.</p>
        </div>
      </div>
      <div class="col-md-6 skills-box">
        <div class="tech-box">
          <h3 class="offwhite">// Full-Stack Web Development</h3>
          <p class="offwhite">// Frontend + Backend + Test Driven Development</p>

          <p><span class="water">function</span> <span class="grass">technicalSkills</span> <span class="offwhite">( ) {</span></p>

          <p><span class="orchid">&nbspvar</span> <span class="offwhite">languages = [ </span><span class="pumpkin">"Ruby"</span><span class="offwhite">, </span><span class="pumpkin">"JavaScript"</span><span class="offwhite">, </span><span class="pumpkin">"HTML"</span><span class="offwhite">, </span><span class="pumpkin">"CSS"</span><span class="offwhite"> ];</span></p>

          <p><span class="orchid">&nbspvar</span> <span class="offwhite">frameworks = [ </span><span class="pumpkin">"Rails"</span><span class="offwhite">, </span><span class="pumpkin">"AngularJS"</span><span class="offwhite">, </span><span class="pumpkin">"Sinatra"</span><span class="offwhite">, </span><span class="pumpkin">"jQuery (library)"</span><span class="offwhite"> ];</span></p>

          <p><span class="orchid">&nbspvar</span> <span class="offwhite">testingFrameworks = [ </span><span class="pumpkin">"RSpec"</span><span class="offwhite">, </span><span class="pumpkin">"Capybara"</span><span class="offwhite">, </span><span class="pumpkin">"Jasmine"</span><span class="offwhite"> ];</span></p>

          <p><span class="orchid">&nbspvar</span> <span class="offwhite">databases = [ </span><span class="pumpkin">"PostgreSQL"</span><span class="offwhite">, </span><span class="pumpkin">"MySQL"</span><span class="offwhite">, </span><span class="pumpkin">"ActiveRecord"</span><span class="offwhite"> ];</span></p>

          <p><span class="orchid">&nbspvar</span> <span class="offwhite">design = [ </span><span class="pumpkin">"Photoshop"</span><span class="offwhite">, </span><span class="pumpkin">"Illustrator"</span><span class="offwhite">, </span><span class="pumpkin">"InDesign"</span><span class="offwhite"> ];</span></p>

          <p class="offwhite">}</p>
        </div>
      </div>
    </div>
  </div>
</section>
