<section id="skills">
  <div class="container-fluid">
    <div class="skills-container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Programming Languages:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Ruby, JavaScript, HTML, CSS</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Frameworks & Libraries:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Rails, React, Redux, Angular, Node, Express, jQuery, SASS/SCSS, Sinatra</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Databases:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">PostgreSQL, MySQL, ActiveRecord, MongoDB</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Testing Frameworks:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Minitest, RSpec, Capybara, Jasmine, Mocha</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Version Control:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Git, Github, Bitbucket</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Design:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="skills-description">Photoshop, Illustrator, InDesign</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>Languages:</p>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p class="no-margin skills-description">Fluent in Cantonese and Mandarin, including written Chinese</p>
          <p class="no-margin skills-description">Semi-fluent in Japanese</p>
          <p class="skills-description">Beginner in German and Irish</p>
        </div>
      </div>
    </div>
  </div>
</section>
