/** Tablet **/

@media only all and (max-device-width: 1200px) {
  .navbar-default .navbar-collapse {
    * {
      display: inline;
    }
    ul.nav.navbar-nav {
      margin-top: 15px;
    }
  }
  #header {
    min-height: 0;
    height: 780px;
    #title-container {
      top: 130px;
    }
    .white-icons {
      display: none;
    }
    .white-icons.mobile-only {
      position: absolute;
      width: 100%;
      bottom: 30px;
      display: block;
      text-align: center;
    }
    #balloon-clouds {
      display: none;
    }
  }
}

/** Mobile **/

@media only all and (max-device-width: 750px) {
  #header {
    height: 560px;
  }
}
