/** Tablet **/

@media only all and (max-device-width: 1200px) {
  .navbar-default .navbar-collapse {
    .navbar-header, ul.nav.navbar-nav {
      display: inline;
    }
    ul.nav.navbar-nav {
      margin-top: 15px;
    }
    .nav {
      margin: 0 10px;
    }
  }
  #header {
    min-height: 0;
    height: 780px;
    .header-content-inner {
      margin-top: 25%;
    }
    .white-icons {
      display: none;
    }
    .white-icons.mobile-only {
      position: absolute;
      width: 100%;
      bottom: 30px;
      display: block;
      text-align: center;
    }
    #balloon-clouds {
      display: none;
    }
  }
  section {
    padding: 60px 25px;
  }
  section#about {
    .image-container {
      margin-bottom: 25px;
    }
  }
  section#skills {
    .skills-container {
      padding: 0 8%;
    }
  }
  section#portfolio {
    .portfolio-container {
      padding: 0 5%;
    }
    .project {
      padding: 10px 20px;
    }
  }
}

/** Mobile **/

@media only all and (max-device-width: 750px) {
  #header {
    height: 560px;
    .header-content-inner {
      margin-top: 0;
      margin-left: 0;
      h1 {
        font-size: 50px !important;
      }
    }
  }
  section#about, section#skills, section#portfolio {
    p {
      font-size: 17px;
    }
  }
  section#about {
    .about-container {
      padding: 0;
    }
    .container-right {
      padding: 0;
    }
  }
  section#skills {
    .skills-container {
      padding: 0;
    }
    p.skills-description {
      font-weight: bold;
    }
  }
  section#portfolio {
    .portfolio-container {
      padding: 0;
    }
    .project {
      flex-direction: column;
    }
    #project-2 {
      .portfolio-box {
        order: unset;
      }
    }
  }
}
