/** Tablet **/

@media only all and (max-device-width: 1200px) {
  .navbar-default .navbar-collapse {
    .navbar-header, ul.nav.navbar-nav {
      display: inline;
    }
    ul.nav.navbar-nav {
      margin-top: 15px;
    }
    .nav {
      margin: 0 10px;
    }
  }
  #header {
    min-height: 0;
    height: 780px;
    #balloon-clouds {
      height: 200px;
      img {
        max-height: 100%;
      }
    }
    .header-content-inner {
      margin-top: 35%;
      h1 {
        font-size: 50px !important;
      }
    }
    .white-icons {
      display: none;
    }
    .white-icons.mobile-only {
      position: absolute;
      width: 100%;
      bottom: 30px;
      display: block;
      text-align: center;
    }
  }
  section {
    padding: 60px 25px;
  }
  section#about {
    #image-container, #introduction {
      margin: 0 30px;
    }
  }
  section#skills {
    .skills-container {
      padding: 0 8%;
    }
  }
  section#portfolio {
    .portfolio-container {
      padding: 0 5%;
    }
    .project {
      padding: 10px 20px;
    }
  }
}

/** tablets that are not iPad Pro **/
// @media only all and (max-device-width: 1020px) {
//   #header #balloon-clouds {
//     display: none;
//   }
// }

/** Mobile **/

@media only all and (max-device-width: 760px) {
  #header {
    height: 560px;
    .header-content-inner {
      margin-top: 20px;
      margin-left: 0;
    }
    #balloon-clouds {
      display: none;
    }
  }
  section#about, section#skills, section#portfolio {
    p {
      font-size: 17px;
    }
  }
  section#about {
    font-size: 1em;
    .about-container {
      flex-direction: column;
    }
    #introduction {
      margin: 0;
    }
    img#profile {
      height: 175px;
    }
    .about-mentions {
      .featured-media-box {
        img {
          margin-bottom: 12px;
        }
      }
    }
  }
  section#skills {
    .skills-container {
      padding: 0;
    }
    p.skills-description {
      font-size: 1em;
    }
  }
  section#portfolio {
    .portfolio-container {
      padding: 0;
    }
    .project {
      flex-direction: column;
      padding: 0;
      margin-bottom: 20px;
      .featured-media-box {
        max-width: 260px;
        margin: 0 auto 18px;
      }
      .project-description {
        margin-left: 0;
        text-align: center;
      }
    }
  }
}
