<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T37S5ZC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include skills.html %}
  <!-- {% include timeline.html %} -->
  {% include portfolio.html %}
  {% include blog.html %}
  {% include contact.html %}
  {% include footer.html %}

<!--   <section id="one" class="scrollmagic">
      <h1 class="scrollmagic">ScrollMagic Tutorial</h1>
      <p class="scrollmagic">Learn how to <strong class="scrollmagic">pin elements</strong>.</p>
  </section>
  <section id="two" class="scrollmagic">
    <div class="inner">
      <h1 class="scrollmagic">ScrollMagic Tutorial</h1>
      <p class="scrollmagic">Learn how to create a <strong class="scrollmagic">ScrollMagic scene</strong>.</p>
    </div>
  </section>
  <section id="three" class="scrollmagic">
    <div class="inner">
      <h1 class="scrollmagic">ScrollMagic Tutorial</h1>
      <p class="scrollmagic">Learn how to customize debug <strong class="scrollmagic">indicators</strong>.</p>
    </div>
  </section>
  <section id="four" class="scrollmagic">
    <div class="inner">
      <h1 class="scrollmagic">ScrollMagic Tutorial</h1>
      <p class="scrollmagic">Learn how to toggle classes using <strong class="scrollmagic">setClassToggle</strong>.</p>
    </div>
  </section> -->

  {% include scripts.html %}
</body>

</html>
